/* @import './base.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inconsolata", monospace;
}

a.logo {
  color: black;
}
a.logo:hover {
  color: red;
}

.router-link-active {
  color: red;
}
